.primary {
    background-color: peru;
    color: #fff;
}
tbody {
    tr {
        cursor: pointer;
    }
}

tr:nth-child(even) {
    background-color: #f2f2f2
} 
button {
    margin-left: 1.5rem;
    background-color: #43219d;
    padding: 12px;
    font-size: 1rem;
    border-radius: 0px 25px 0px 25px;
    border: 2px solid #c4c4c4;
}