.card {
    background-color: rgb(103, 164, 205);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    width: 200px;
}
.card:hover{
    background-color: orangered;
    // transition-delay: 0.5s;
    width: 250px;
}
