<!-- Pipes -->
<!-- <app-built-in-pipe></app-built-in-pipe>
<app-custome-pipe></app-custome-pipe> -->
<!-- <app-observer></app-observer> -->
<app-comp1></app-comp1>
<app-comp2></app-comp2>

<h1>Parent to Child Component</h1>
<app-parent></app-parent>
<app-child></app-child>

<hr>
<h1>Child to Parent Component</h1>
<app-parent1></app-parent1>
<div *ngIf="userData && userData.length > 0; else error">
    <h1>User Data</h1>
    <p *ngFor="let item of userData"> {{item.name}}</p>
</div>

<ng-template #error>
    {{errorMessage}}    
</ng-template>

<app-view-child-view-children></app-view-child-view-children>
<app-view-children #viewChild></app-view-children>
<button type="button" class="btn btn-primary m-1" (click)="inc()">Increment</button>
<button type="button" class="btn btn-primary" (click)="dec()">Decrement</button>
<app-products-dashboard></app-products-dashboard>
<app-template-driven-form></app-template-driven-form>