<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img
            src="https://i.imgur.com/bDLhJiP.jpg"
            width="100"
            class="rounded-circle"
          />
        </div>

        <div class="text-center mt-3">
          <span class="bg-secondary p-1 px-4 rounded text-white">{{userInfo?.username}}</span>
          <h5 class="mt-2 mb-0">{{userInfo?.name }}</h5>
          <span>{{userInfo?.website | titlecase}}</span>

          <div class="px-4 mt-1">
            <p class="fonts">
              Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis
              nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>

          <div class="buttons mt-2">
            <button class="btn btn-outline-primary px-4" (click)=" gotoPage('message')">Message</button>
            <button class="btn btn-outline-primary px-4 ms-3" (click)=" gotoPage('contact')">Contact</button>
          </div>
        </div>
      </div>
      <div class="container m-3">
        <router-outlet></router-outlet>

    </div>
    
  </div>
</div>
