<h1>Built-in Pipe</h1>
<h2>{{message | uppercase}}</h2>
<h2>{{message | lowercase}}</h2>
<h2>{{message | titlecase}}</h2>
<h2>{{date}}</h2>
<h2>{{date | date: 'yyyy-MM-dd'}}</h2>
<h2>{{date | date: 'MM-dd-YYYY' | lowercase}}</h2> 
<h2>{{percentage | percent: '4.3'}}</h2>
<h2>{{percentage | percent: '4.3'}}</h2>
<h2>{{currency | currency: 'INR' :'symbol' : '4.0'}}</h2>
<ul>
    <li>uppercase</li>
    <li>lowercase</li>
    <li>titlecase</li>
    <li>date</li>
    <li>percentage</li>
    <li>currency</li>
</ul>